.a {
  width: 867px;height: 1243px; position: relative; background: rgba(44, 85, 69, 0.62)
}
.b {
  width: 309px; height: 275px; left: 44px; top: 41px; position: absolute; background: #2C5545;
}
.c {
  width: 309px; height: 109px; left: 44px; top: 357px; position: absolute; background: #2C5545; border: 1px black solid
}
.d {
  left: 75px; top: 425px; position: absolute; color: white; font-size: 20px; font-family: Imprima; font-weight: 400;
}
.w {
  width: 309px; height: 109px; left: 44px; top: 507px; position: absolute; background: #2C5545; border: 1px black solid
}
.v{
  left: 52px; top: 512px; position: absolute; color: white; font-size: 20px; font-family: Imprima; font-weight: 400;
}
.p{
  width: 309px; height: 177px; left: 44px; top: 657px; position: absolute; background: #2C5545; border: 1px black solid
}
.q{
  left: 52px; top: 362px; position: absolute; color: white; font-size: 20px; font-family: Imprima; font-weight: 400;
}
.z{
  left: 52px; top: 662px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; 
}
.o{
  width: 309px; height: 125px; left: 44px; top: 1093px; position: absolute; background: #2C5545; border: 1px black solid
}
.u{
  left: 52px; top: 1100px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.s{
left: 52px; top: 880px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.k{
  width: 370px; height: 129px; left: 433px; top: 1089px; position: absolute; background: #2C5545; border: 1px black solid
}
.e{
  width: 370px; height: 373px; left: 433px; top: 41px; position: absolute; background: #2C5545; border: 1px black solid
}
.t{
  width: 370px; height: 276px; left: 433px; top: 455px; position: absolute; background: #2C5545; border: 1px black solid
}
.i{
  width: 370px; height: 276px; left: 433px; top: 772px; position: absolute; background: #2C5545; border: 1px black solid
}
.l{
  width: 309px; height: 177px; left: 44px; top: 875px; position: absolute; background: #2C5545; border: 1px black solid
}
.j{
  left: 52px; top: 880px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.f{
  width: 341px; height: 333px; left: 447px; top: 64px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.h{
  width: 341px; height: 226px; left: 447px; top: 480px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.r{
  width: 341px; height: 226px; left: 447px; top: 797px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.g{
  width: 341px; height: 92px; left: 447px; top: 1106px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.y{
  width: 309px; height: 275px; left: 44px; top: 41px; position: absolute; border: 1px black solid
}